body{
    margin:0;
}
.centered {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.colorTransitionOnHover{
    transition: background-color 2s ease;
}
.colorTransitionOnHover:hover{
    background-color:#88FF99;
}


@keyframes lightColorCycle{
    0% {color:#880000;}
    50% {color:#000088;}
    100% {color:#880000;}
}
.lightColorCycleOnHover:hover a{
    animation: lightColorCycle 10s linear infinite;
}

body {
    background-color:#E0EEFF;
    text-align:justify;
    text-align-last:center;
    padding:2em;
}

p {
    max-width:50em;
    margin:auto;
    margin-top:1.5em;
}

ol,
ul,
table{
    max-width:50em;
    border-collapse:collapse;
    margin:auto;
    margin-top:1.5em;
}
ol,
ul {
    text-align:left;
    text-align-last:left;
}

thead tr {
    border-bottom:1px solid black;
    text-align:center;
    color:blue;
}

tbody tr {
    border-top:1px solid black;
}

tr:first-of-type{
    border-top:none;
}

td:first-of-type{
     /*The first column is frequently a date, which looks much better on a single line*/
     min-width:6em;
     border-right:1px solid black;
}

.insetText p{
    text-align:left;
    text-align-last:left;
    max-width:50em;
}

.insetText h4,
.insetText h5,
.insetText h6{
    text-align:left;
    text-align-last:left;
}